body {
    background-color: lightskyblue;
}

#logoutContainer {
    display: flex;
    justify-content: center;
}

#logout {
    border: 3px solid black;
    font-size: 16px;
    position: relative;
    float: left;
    background-color: red;
    border-radius: 15px;
    color: white;
}

@media only screen and (max-width: 768px) {
    #logout {
        padding: 15px;
    }
  }

#titoloContainer {
    display: flex;
    justify-content: center;
}

#titolo {
    color: white;
    text-shadow: 2px 3px 0px black;
    font-weight: bolder;
    font-size: 72px;
}

#contenitoreBagni {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

button {
    margin-top: 15px;
    background-color: white;
    border: 5px solid black;
    padding: 30px;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

button:active {
    background-color: dodgerblue;
    color: white;
}